tr a {color:white;
        text-decoration:none;}
.links {border-radius: 10px;
            text-decoration: none;
        color:white;}
.links:hover {background-color:red;}
section {
    width: 100%;
    opacity: 1;
    z-index: -6;
    /* height:100p; */
    background-image: url("https://res.cloudinary.com/omojolade/image/upload/e_auto_color,q_auto:best/v1568712908/Chicken-rice-for-desktop_el3ddp.jpg");
    background-repeat: no-repeat;
}
h2{
    font-family: sans-serif;
    font-size: 40px;
    color: black;
    padding:10px 200px 0px 200px;
    text-align: center;
}

.loginform{
    margin: 40px 40px 70px 400px;
    width: 400px;
    height: auto;
}
input {
    margin-bottom: 10px;
    padding:10px 10px 10px 10px;
    width:300px;
    border: 0px;
    font-size: 1em;
    background: white;
}
button{
    margin: 10px 10px 10px 65px;
    padding: 10px;
    background-color:rgb(197, 50, 50);
    width: 50%;
    color: black;
    font-size: 1em;
    text-decoration:none;
    border-radius:10px;
}
button a {color:white;}
label {
    font-family: cursive;
    color: white;
    font-size: 15px;
    margin: 0px 10px 80px 40px;

} 
div a {text-decoration:none;
 }
#signin { 
    color: white;    
}
 
.signup{
    align-self: center;
    margin-top: 110px;
    text-decoration:none;
}
.text {color:black;}
 p a {color: blue;}